.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid black;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }
}
